.grid {
    display: grid;
    justify-content: center;
}

div[id^="cell_"] {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
    position: relative;
}
div[id^="cell_"]:hover > .frame{
    visibility: visible;
}

.closed {
    cursor: pointer;
    background-color: #ffffff;
}

.open {
    background-color: transparent;
    cursor: default;
    background-size: cover;
}

.flag {
    background-color: #ffffff;
    background-image: url("../images/interface/game/flag.png");
}

.bomb {
    background-color: #ffffff;
    background-image: url("../images/interface/game/bomb.png");
}

.empty {
    border: none;
}

.frame {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    pointer-events: none;
    background-image: url("../images/interface/game/frame.png");
    visibility: hidden;
}

.number {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    pointer-events: none;
}
.num1 {
    background-image: url("../images/interface/game/numbers/1.png");
}
.num2 {
    background-image: url("../images/interface/game/numbers/2.png");
}
.num3 {
    background-image: url("../images/interface/game/numbers/3.png");
}
.num4 {
    background-image: url("../images/interface/game/numbers/4.png");
}
.num5 {
    background-image: url("../images/interface/game/numbers/5.png");
}
.num6 {
    background-image: url("../images/interface/game/numbers/6.png");
}
.num7 {
    background-image: url("../images/interface/game/numbers/7.png");
}
.num8 {
    background-image: url("../images/interface/game/numbers/8.png");
}