.grid {
    display: grid;
    justify-content: center;
}

div[id^="cell_"] {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
    position: relative;
}
div[id^="cell_"]:hover > .frame{
    visibility: visible;
}

.closed {
    cursor: pointer;
    background-color: transparent;
}

.open {
    background-color: transparent;
    cursor: default;
    background-color: #827877;
    background-size: cover;
}

.flag0 {
    background-color: transparent;
    background-image: url("../images/interface/game/flag0.png");
}
.flag1 {
    background-color: transparent;
    background-image: url("../images/interface/game/flag1.png");
}
.flag2 {
    background-color: transparent;
    background-image: url("../images/interface/game/flag2.png");
}

.bomb {
    background-color: transparent;
    background-image: url("../images/interface/game/bomb.png");
}

.empty {
    border: none;
}

.frame {
    position: absolute;
    top: -7.5px;
    left: -7.5px;
    width: 40px;
    height: 40px;
    background-size: cover;
    pointer-events: none;
    z-index: 2550;
    visibility: hidden;
}

.number {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    pointer-events: none;
}

#game-image-keeper{
    display: block;
    width: 10px;
    height: 10px;
    position: absolute;
    top: -200px;
    left: -200px;
    z-index: -1000;
    background-image: url("../images/interface/game/b-l.png"),
    url("../images/interface/game/b-r.png"),
    url("../images/interface/game/b.png"),
    url("../images/interface/game/bl.png"),
    url("../images/interface/game/br.png"),
    url("../images/interface/game/l.png"),
    url("../images/interface/game/r-b-l.png"),
    url("../images/interface/game/r.png"),
    url("../images/interface/game/t-b-l.png"),
    url("../images/interface/game/t-l.png"),
    url("../images/interface/game/t-r-b-l.png"),
    url("../images/interface/game/t-r-b.png"),
    url("../images/interface/game/t-r-l.png"),
    url("../images/interface/game/t-r.png"),
    url("../images/interface/game/t.png"),
    url("../images/interface/game/tl.png"),
    url("../images/interface/game/tr.png");
}

#chars-image-keeper{
    display: block;
    width: 10px;
    height: 10px;
    position: absolute;
    top: -200px;
    left: -200px;
    z-index: -1000;
    background-image: url("../images/characters/gopnik1/1.png"),
    url("../images/characters/gopnik1/2.png"),
    url("../images/characters/gopnik1/3.png"),
    url("../images/characters/gopnik1/4.png"),
    url("../images/characters/gopnik2/1.png"),
    url("../images/characters/gopnik2/2.png"),
    url("../images/characters/gopnik2/3.png"),
    url("../images/characters/gopnik2/4.png");
}