.grid {
    display: grid;
    justify-content: center;
}

div[id^="cell_"] {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
}

.closed {
    background-color: #ffffff;
}

.open {
    background-color: transparent;
    cursor: default;
    background-color: #b9b9b9;
    background-image: url("../images/interface/game/t-r-b-l.png");
    background-size: cover;
}

.flag {
    background-color: #4972bd;
}

.bomb {
    background-color: #d73543;
}

.empty {
    border: none;
}