@font-face {
    font-family: 'CCSoliloquous';
    src: url('../fonts/v_CCSoliloquous_v1.05.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    z-index: 0;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.screen-size{
    height: 450px;
    width: 800px;
    position: absolute;
    background: none;
}

#nv-next-scene{
    z-index: 1000;
}
#nv-no-clicks{
    z-index: 0;
}
#nv-text-skip{
    z-index: 0;
}
#nv-no-clicks:hover{
    cursor: pointer;
}

#screen {
    height: 450px;
    width: 800px;
    background-color: black;
    overflow: hidden;
    position: relative;
}

#nv-bubble {
    box-sizing: border-box;
    width: 200px;
    height: 300px;
    padding: 50px;

    position:absolute;
    top: 50px;
    left: 50px;

    display: flex;
    flex-direction: column;
    justify-content: end;
    
    background-color: white;
    z-index: 800;
}
#nv-text-area{
    width: 100%;
    height: 100px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}
#nv-text-area > div{
    position: relative;
}
#nv-text{
    font-family: 'CCSoliloquous';
    font-size: 16px;
    line-height: 16px;
    color: #000000;
    text-align: center;
}

#nv-arrow{
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: -30px;
}



#nv-arrow > div{
    display: block;
    width: 16px;
    height: 16px;
    font-family: 'CCSoliloquous';
    font-size: 16px;
    line-height: 16px;
    color: #000000;
    transform: rotate(90deg);
}

.hidden-text{
    color: #FFFFFF;
    opacity: 0;
}

#start-screen{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: pink;
    z-index: 1200;
}
#start-screen:hover{
    cursor: pointer;
}

.character-size{
    width: 400px;
    height: 500px;
    position: absolute;
    top: 0px;
    background-color:transparent;
    z-index: 500;
}
#nv-char0{
    left: 200px;
}
#nv-char1{
    left: 0px;
}
#nv-char2{
    left: 400px;
}

#nv-blackout{
    width: 100%;
    height: 300px;
    position: absolute;
    bottom: 0px;
    background-color: black;
    opacity: 0.5;
    z-index: 550;
}

.hidden{
    position: absolute;
    height: 1px;
    width: 1px;
    background: none;
    visibility:hidden;
}